language: php
php:
  - 5.5
  - 5.6

services:
  - mongodb

before_script:
  - echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - composer install --dev


script: ./bin/phpunit --coverage-text

notifications:
  email: false
